@use 'variables';


/* CONTACT INFO */
.Conten_Contact {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
}
.ulContacto {
	list-style: none;
	padding: 0;
}
.Logo_Contacto {
	text-align: center;
	font-size: 3em;
	color: variables.$texto;
}
.Contacto_Form {
	background-color: rgba(31, 30, 30, 0.842);
}
.Formu_Formu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	form {
		button {
			width: 100%;
			padding: .7em;
			border: none;
			background: none;
			outline: 0;
			color: variables.$texto;
			border-bottom: 1px solid #d63031;
			background: #B70E21;
			border: 0;
			text-transform: uppercase;
			padding: 1em;
			&:hover {
				background: #d63031;
				color: variables.$texto;
				transition: background-color 1s ease-out;
				outline: 0;
			}
			&:focus {
				background: #d63031;
				color: variables.$texto;
				transition: background-color 1s ease-out;
				outline: 0;
			}
		}
		input {
			width: 100%;
			padding: .7em;
			border: none;
			background: none;
			outline: 0;
			color: variables.$texto;
			border-bottom: 1px solid #d63031;
		}
		textarea {
			width: 100%;
			padding: .7em;
			border: none;
			background: none;
			outline: 0;
			color: variables.$texto;
			border-bottom: 1px solid #d63031;
		}
	}
}
.Titulo_Nombre {
	display: block;
}
.Texto_P {
	margin: 0;
	padding: 1em;
	color: variables.$texto;
}
.block {
	grid-column: 1 / 3;
}
.Titulo_Formulario {
	font-weight: normal;
	font-family: variables.$font-family_3;
	color: variables.$texto;
	text-align: center;
	padding: 14px 0;
}
.Formu {
	background-color: rgba(0, 0, 0, 0.6);
	width: 90%;
	max-width: 900px;
	margin: auto;
	padding: 5px 35px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-radius: 30px;
}
.Formu_Label {
	display: block;
	color:variables.$titulo;
	font-size: 16px;
	font-family: variables.$font-family_4;
	position: relative;
}
.Formu_Text {
	background-color: rgba(0, 0, 0, 0.7);
	border: none;
	outline: none;
	border-bottom: 2px solid #ff851B;
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 2px;
	font-size: 14px;
	color: variables.$texto;
	font-family: variables.$font-family_4;
	resize: vertical;
	max-height: 150px;
	min-height: 50px;
}
.Formu_Input {
	background-color: rgba(0, 0, 0, 0.7);
	border: none;
	outline: none;
	border-bottom: 2px solid #ff851B;
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 2px;
	font-size: 14px;
	color: variables.$texto;
	font-family: variables.$font-family_4;
}
.Btn_Submit {
	width: 100%;
	font-family: variables.$font-family_4;
	outline: none;
	background-color: #ff851B;
	font-size: 16px;
	border: none;
	color: variables.$texto;
	padding: 15px 0;
	cursor: pointer;
	&:hover {
		background-color: grey;
	}
}
