/*colores*/
/*fonts*/
/*Index*/
body {
    background-image: url(../galeria/fondofondo.jpeg);
  }
  
  .men {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    font-weight: bold;
    background-color: rgba(13, 27, 48, 0.705);
    border-radius: 30px;
    height: 80px;
    font-size: 15px;
  }
  
  .logo_menu {
    margin-top: 15px;
    padding-left: 30px;
    font-family: "Permanent Marker", cursive;
    font-size: 2em;
    color: #ff851B;
  }
  
  span {
    font-family: "Permanent Marker", cursive;
    font-size: 1em;
    color: #fff;
  }
  
  .menu1 {
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    justify-content: space-between;
    width: 120px;
    height: 80px;
    line-height: 80px;
    border-radius: 30px;
    margin-right: 30px;
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    -webkit-transition: box-shadow 0.4s;
  }
  .menu1:hover {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
  }
  
  #limenu {
    display: inline-block;
    text-align: center;
  }
  
  a#mimenu {
    text-decoration: none;
    color: #fff;
  }
  
  .Btn_Menu {
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  .contenedor {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(245, 245, 220, 0.233);
    height: 500px;
    width: 100%;
    border-radius: 30px;
  }
  
  #ima1 {
    width: 100%;
    height: 500px;
    border-radius: 30px 0px 0px 30px;
  }
  
  .conte {
    width: 400px;
    height: 500;
    background-color: rgba(13, 27, 48, 0.705);
    border-radius: 0px 30px 30px 0px;
  }
  
  #saludo {
    text-align: center;
    color: #fff;
    margin-top: 50px;
    font-family: "Permanent Marker", cursive;
    background-color: rgba(35, 66, 165, 0.555);
  }
  
  #texto {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  @media screen and (max-width: 1100px) {
    .logo_menu {
      margin-top: 25px;
      font-size: 1em;
      padding: left 35px;
    }
    .ulmenu li a {
      font-size: 13px;
      display: flex;
    }
    .menu1 {
      width: 80px;
      margin-left: 20px;
    }
    #mimenu {
      justify-content: center;
    }
    .contenedor {
      flex-direction: column;
      margin-bottom: 130px;
    }
    #ima1 {
      border-radius: 0;
      width: auto;
    }
    .conte {
      width: 100%;
      border-radius: 0;
      height: auto;
      margin-bottom: 50px;
    }
    #saludo {
      margin-top: 5px;
    }
    #texto {
      margin-top: 2%;
    }
  }
  @media screen and (max-width: 768px) {
    .men {
      height: 65px;
    }
    .Btn_Menu {
      display: inline-flex;
      margin-top: 20px;
    }
    .ulmenu {
      position: fixed;
      width: 100vw;
      height: calc(100% - 65px);
      background: #414141;
      top: -100vh;
      text-align: center;
      transition: all 0.4s;
      flex-direction: column;
    }
    .ulmenu li {
      margin: 30px 0 0 0;
      line-height: 30px;
    }
    .ulmenu li:hover {
      background: none;
    }
    .ulmenu li a {
      font-size: 20px;
      color: #fff;
      font-weight: bold;
    }
    .ulmenu li a:hover {
      color: #e9183b;
    }
    .logo_menu {
      font-size: 25px;
      padding-left: 35px;
      margin-top: 15px;
    }
    .contenedor {
      align-content: center;
    }
  }
  @media screen and (max-width: 500px) {
    .contenedor{
      margin-bottom: 20px;
    }
  }
  
  /*# sourceMappingURL=style2.css.map */
  