
/*colores*/
$titulo: #ff851B;
$texto: #fff;
$color_1: #e9183b;
 
/*fonts*/
$font-family_1: 'Permanent Marker', cursive;
$font-family_2: 'Courier New', Courier, monospace;
$font-family_3: sans-serif;
$font-family_4: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
